In [2]:
num1 = 6
num2 = 8

sum = num1 + num2

print('The sum of {0} and {1} is {2}'.format(num1, num2, sum))

The sum of 6 and 8 is 14

In [4]:
num = int(input("Enter a number : "))
if num%2==0:
  print(num, "is even.")
else:
  print(num, "is odd.")

Enter a number : 9
9 is odd.

In [6]:
num = int(input("Enter a number : "))
flag = False

if num == 0 or num == 1:
    print(num, "is not a prime number")
elif num > 1:
    for i in range(2, num):
        if (num % i) == 0:
            flag = True
            break
    if flag:
        print(num, "is not a prime number")
    else:
        print(num, "is a prime number")

Enter a number : 0
0 is not a prime number

In [8]:
a=int(input("enter a number:"))
b=int(input("enter a number:"))
c=int(input("enter a number:"))
d=int(input("enter a number:"))
l=[a,b,c,d]
print(max(l))

enter a number:9
enter a number:8
enter a number:7
enter a number:6
9

In [12]:
n=int(input("enter a number:"))
c=1
for i in range(1,n+1):
  c*=i
print(c)

enter a number:9
362880

In [16]:
a=int(input("enter a number:"))
b=str(a)
c=b[::-1]
print(int(c))

enter a number:123
321

In [23]:
a=input("enter a number:")
b=a[::-1]
if b==a:
  print("pallindrone")
else:
  print("not pallindrone")

enter a number:sdfg
not pallindrone

In [24]:
a=int(input("table value:"))
b=int(input("enter the number of multi:"))
for i in range(1,b+1):
  print(a,"*",i,"=",a*i)

table value:2
enter the number of multi:10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [ ]:
a=input("enter a number:")
b=a[::-1]
if b==a:
  print("pallindrone")
else:
  print("not pallindrone")

In [28]:
a=int(input("enter a number"))
q=0
b=str(a)
for i in range(len(b)):
  c=0
  c=a%10
  a=a//10
  q+=c
print(q)

enter a number16
7

In [29]:
a=int(input("enter a number"))
b=int(input("enter a number"))
d=input("enter a symbol")
match(d):
  case '+':
    print(a+b)
  case '-':
    print(a-b)
  case '*':
    print(a*b)
  case '/':
    print(a/b)
  case '%':
    print(a%b)

enter a number4
enter a number8
enter a symbol*
32

In [35]:
for i in range (5):
  print(i*"*")

*
**
***
****